pkgbase = gitquarry
	pkgdesc = Terminal CLI for public GitHub repository search with explicit discovery controls
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/Microck/gitquarry
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	source = gitquarry-0.1.6.tar.gz::https://github.com/Microck/gitquarry/releases/download/v0.1.6/gitquarry-v0.1.6-source.tar.gz
	sha256sums = a2c3479c2e909f7bc82ffc5a4848e848dcb320d01b6418f2995059e995b14f79

pkgname = gitquarry
